<div class="back-to-home">
    <button [routerLink]="['/home/3555']" routerLinkActive="router-link-active">&lt;</button>
  </div>
  <div class="fournotfour">
    <h2>404!</h2>
    <button [routerLink]="['/home/3555']" routerLinkActive="router-link-active">Back to Home</button>
  </div>