<div class="container-fluid" style="color:#fff">
  <div class="row">
    <div class="col-4">
      <a class="nav-back" [routerLink]="['/home/3555']" routerLinkActive="router-link-active">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path fill="#fff" d="M11.67 3.87L9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z" />
          <path fill="none" d="M0 0h24v24H0z" /></svg>
      </a>
    </div>
    <div class="col-4 text-center">
      <img style="width:40px;padding-top:10px;" alt="" class="main-logo"
        src="https://s3.ap-south-1.amazonaws.com/devqa-emsdata/newkbc/favicon.png">
    </div>
    <div class="col-4">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row" *ngIf="showSections.question">
    <div class="col-12">
      <div class="question-display">
        <div class="circle"><span id="countdowntimer">

            <ng-container [counter]="initialCounter" [interval]="1000" (value)="count = $event">
              <span> {{ count }} </span>
            </ng-container>
          </span></div>
      </div>
    </div>
    <div class="col-12 question-background">
      <div class="question-display">
        {{ question }}
      </div>
    </div>
    <div class="col-12">
      &nbsp;
    </div>
  </div>
  <div class="row option-section" *ngIf="showSections.option">
    <!-- [ngClass]="{'option-background-active': optionColor[0].showColor.yellow, 'option-background-inactive': false , 'option-background-green': true }" -->
    <div class="col-12 question-background" [ngClass]="showColor.A"> 
      <!-- category.active ? 'fa-toggle-on' : 'fa-toggle-off'"option-background-active -->
      <div class="question-display" (click)="updateAnswer('A')">
        <span class="float-left">A.</span><span class="float-center">{{options.a}}</span>
      </div>

    </div>
    <div class="col-12 question-background" [ngClass]="showColor.B">
      <div class="question-display" (click)="updateAnswer('B')">
        <span class="float-left">B.</span><span class="float-center">{{options.b}}</span>
      </div>

    </div>
    <div class="col-12 question-background" [ngClass]="showColor.C">
      <div class="question-display" (click)="updateAnswer('C')">
        <span class="float-left">C.</span><span class="float-center">{{options.c}}</span>
      </div>

    </div>
    <div class="col-12 question-background" [ngClass]="showColor.D">
      <div class="question-display" (click)="updateAnswer('D')">
        <!-- <a href="#" class="options"> -->
        <span class="float-left">D.</span><span class="float-center">{{options.d}}</span>
        <!-- </a> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <div>&nbsp;</div>
      <button type="button" (click)="lockAnswer()" class="btn btn-outline-warning">Lock Your Answer</button>
    </div>
  </div>
</div>