.question-text{
    color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    text-align: center;

}
.text-center {
    text-align: center!important;
}
  
.nav-back {
    font-size: 42px;
    text-decoration: none;
    padding: 0 13px;
    color: #fff;
}
.parts{
    border: #fff solid 2px;
}
.question-background {
    width: 100%;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='50' viewBox='0 0 300 100' preserveAspectRatio='none'%3E%3Cline x1='0' y1='50' x2='300' y2='50' stroke-width='3px' stroke='%23ffcd4a' /%3E%3Cdefs%3E%3CradialGradient id='grad1' cx='50%25' cy='50%25' r='50%25' fx='50%25' fy='50%25'%3E%3Cstop offset='0%25' style='stop-color:rgb(103,30,160); stop-opacity:1' /%3E%3Cstop offset='100%25' style='stop-color:rgb(55,0,101);stop-opacity:1' /%3E%3C/radialGradient%3E%3C/defs%3E%3Cpolygon fill='url(%23grad1)' stroke-width='3px' stroke='%23ffcd4a' points='10,50 50,0, 250,0 290,50, 250,100 50,100' /%3E%3C/svg%3E");background-position: center center;
background-repeat: no-repeat;
margin: 5px 0;
}
.question-display {
    color: #fff;
    font-size: 14px;
    padding: 15px 30px;
    text-align: center;
}
.options {
    color: #fff;    
}
    .options span {
        text-align: center;
    }

    .options .float-left {
        text-align: left;
    }

    .options .float-center {
        text-align: center;
    }
    .circle {
        width: 29%;
        height: 50px;
        border-radius: 50%;
        font-size: 16px;
        color: #fff;
        line-height: 45px;
        background: transparent;
        border: 5px solid #fdce57;
        text-align: center;
        margin-top: 5px;
        display: inline-block;
    }
    /* Selected One */
    .option-background-active {
        width: 100%;
        color: black;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='50' viewBox='0 0 300 100' preserveAspectRatio='none'%3E%3Cline x1='0' y1='50' x2='300' y2='50' stroke-width='3px' stroke='%23ffcd4a' /%3E%3Cdefs%3E%3CradialGradient id='grad1' cx='50%25' cy='50%25' r='50%25' fx='50%25' fy='50%25'%3E%3Cstop offset='0%25' style='stop-color:rgb(255, 205, 74); stop-opacity:1' /%3E%3Cstop offset='100%25' style='stop-color:rgb(255, 205, 74);stop-opacity:1' /%3E%3C/radialGradient%3E%3C/defs%3E%3Cpolygon fill='url(%23grad1)' stroke-width='3px' stroke='%23ffcd4a' points='10,50 50,0, 250,0 290,50, 250,100 50,100' /%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    margin: 5px 0;
    }
    .option-background-inactive {
        width: 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='50' viewBox='0 0 300 100' preserveAspectRatio='none'%3E%3Cline x1='0' y1='50' x2='300' y2='50' stroke-width='3px' stroke='%23ffcd4a' /%3E%3Cdefs%3E%3CradialGradient id='grad1' cx='50%25' cy='50%25' r='50%25' fx='50%25' fy='50%25'%3E%3Cstop offset='0%25' style='stop-color:rgb(103,30,160); stop-opacity:1' /%3E%3Cstop offset='100%25' style='stop-color:rgb(55,0,101);stop-opacity:1' /%3E%3C/radialGradient%3E%3C/defs%3E%3Cpolygon fill='url(%23grad1)' stroke-width='3px' stroke='%23ffcd4a' points='10,50 50,0, 250,0 290,50, 250,100 50,100' /%3E%3C/svg%3E");
        background-position: center center;
        background-repeat: no-repeat;
        margin: 5px 0;
    }
    /* Green #05bd4e */
    .option-background-green {
        width: 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='50' viewBox='0 0 300 100' preserveAspectRatio='none'%3E%3Cline x1='0' y1='50' x2='300' y2='50' stroke-width='3px' stroke='%2305bd4e' /%3E%3Cdefs%3E%3CradialGradient id='grad1' cx='50%25' cy='50%25' r='50%25' fx='50%25' fy='50%25'%3E%3Cstop offset='0%25' style='stop-color:rgb(5, 189, 78); stop-opacity:1' /%3E%3Cstop offset='100%25' style='stop-color:rgb(5, 189, 78);stop-opacity:1' /%3E%3C/radialGradient%3E%3C/defs%3E%3Cpolygon fill='url(%23grad1)' stroke-width='3px' stroke='%2305bd4e' points='10,50 50,0, 250,0 290,50, 250,100 50,100' /%3E%3C/svg%3E");
        background-position: center center;
        background-repeat: no-repeat;
        margin: 5px 0;
    }