<div class="container-fluid" style="color:#fff">
    <div class="row">
      <div class="col-4">
        <a class="nav-back" [routerLink]="['/home/3555']" routerLinkActive="router-link-active">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="#fff" d="M11.67 3.87L9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z" />
            <path fill="none" d="M0 0h24v24H0z" /></svg>
        </a>
      </div>
      <div class="col-4 text-center">
        <img style="width:40px;padding-top:10px;" alt="" class="main-logo"
          src="https://s3.ap-south-1.amazonaws.com/devqa-emsdata/newkbc/favicon.png">
      </div>
      <div class="col-4">
      </div>
    </div>
  </div>
  
  <div class="container-fluid">
    <h2>{{customConfig.headText}}</h2>
    <ul class="menu-items" *ngIf="customConfig">
      <li class="menu-item" *ngFor="let item of customConfig.prizes_url; let i = index">
        <img alt="" src="{{item[0]}}">
      </li>
      <li class="menu-item" *ngFor="let item of customConfig.prizes_url; let i = index">
          <img alt="" src="{{item[1]}}">
        </li>
    </ul>
  </div>