/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14p;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.back-to-home {
text-align: left;
}
.back-to-home button {
    border: 0px;
    font-size: 30px;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
}
.menu-items {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding: 2px;
}
.menu-item {
  display: inline-block;
  width: 33.3%;
  text-align: center;
  color: rgba(255, 255,255, 0.8)
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.menu-item img {
    width: 90%;
  text-align: center;
  color: rgba(255, 255,255, 0.8)
}
