<div *ngIf="showScreen">
  <div class="home-page" [style.background-image]="'url(' + config.home.background_image + ')'">
    <div *ngIf="config.logo; else defaultLogo">
      <img width="40px" class="main-logo" src="{{config.logo}}">
    </div>
    <ng-template #defaultLogo>
        <img width="30px" class="main-logo" src="https://image3.mouthshut.com/images/imagesp/925763416s.png">
      </ng-template>
    <div [style.marginTop.px]="config.home.hero_image_margin">
      <!-- "'/'+config.home.hero_url" -->
      <a routerLink="/quiz" routerLinkActive="active">
        <img *ngIf="customConfig" width="100%" src="{{customConfig.hero_image}}">
        </a>
    </div>
    <div  [style.marginTop.px]="config.home.carousel_position">
      <ul class="menu-items" *ngIf="customConfig">
        <li class="menu-item" *ngFor="let item of customConfig.menu_items; let i = index">
          <ng-container *ngIf="item.internal; else external">
              <a [routerLink]="'/'+item.link" routerLinkActive="active"><img alt="" src="{{item.menu_image}}"></a>
          </ng-container>
          <ng-template #external>
              <a [attr.href]="item.link" routerLinkActive="active">
                <img alt="" src="{{item.menu_image}}">
              </a>
          </ng-template>
          
        </li>
      </ul>
    </div>
    <div class="main-menu">
        <button type="button" (click)="switchLanguage()" class="btn btn-outline-warning">{{ languageDisplay }}</button>
    </div>
    <div class="main-menu">
      <a type="button" class="btn btn-outline-warning">
        <img alt="" *ngIf="customConfig" src="{{customConfig.back_to_sony_image}}">
      </a>
  </div>
  </div>
</div>